<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/img/FAVICON.ico" />
    <title>Mensageiro Anônimo</title>

    <!-- Bootstrap core CSS -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<script data-ad-client="ca-pub-3007991106317440" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0" >Mensageiro Anônimo</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/formulario">Enviar</a>
        <a class="nav-link active" aria-current="page" href="/contato">Contato</a>
      </nav>
    </div>
  </header>
  <main class="px-3">
    
    
    <div class="card text-white bg-dark mb-3   cover-container d-flex w-100 h-100 p-3 mx-auto flex-column  " style="max-width: 180rem;">
      <div class="card-header cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">Em caso de dúvidas, críticas, elogios ou sugestões, envie um email para:</div>
      <div class="card-body cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h5 class="card-title cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">mensageiroanonimo@sapo.pt</h5>
        <!--<h5 class="card-title cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">(</h5>
        <p class="card-text cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"></p>-->
      </div>



  </main>


  
  <!--Footer-->
  <footer class="mt-auto text-white-50">
    <p>Mensageiro Anônimo © 2021</p>
    <a href="/politica" class="text-white">Política de Privacidade</a>
  </footer>
  <!--Footer-->




</div>
  </body>
</html>

<link href="css/estilo.css" rel="stylesheet">
<!--Bootstrap-->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
