<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/img/FAVICON.ico" />
    <title>Mensageiro Anônimo</title>
    <!-- Bootstrap core CSS -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark"></body>
<script data-ad-client="ca-pub-3007991106317440" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0" >Mensageiro Anônimo</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/formulario">Enviar</a>
        <a class="nav-link" href="/contato">Contato</a>
      </nav>
    </div>
  </header>



  
    <div class="card text-white bg-dark mb-3" style="max-width: 280rem;">
      <div class="card-header">Leia com atenção!</div>
      <div class="card-body">
        <h5 class="card-title">Política de Privacidade</h5>
        <p class="text">Este site é mantido e operado por Mensageiro Anonimo.


          A política de privacidade e termos de uso se aplicam a todos os usuários que acessam nosso website.
          
          A privacidade dos visitantes do nosso site é muito importante para nós, e estamos comprometidos em protegê-la. Coletamos e utilizamos alguns dados pessoais pertencentes àqueles usuários que utilizam este website. Agimos na qualidade de controlador desses dados de acordo com a legislação federal e com as normas internacionais de segurança da informação.
          
          Introdução
          
          Disponibilizamos esta política de privacidade, que contém informações importantes sobre:
          
          - Quem deve utilizar este website
          - Quais dados coletamos e o que fazemos com eles
          - Seus direitos em relação aos seus dados pessoais
          - Como entrar em contato conosco
          
          Esta política explica o que faremos com suas informações pessoais e visa esclarecer a todos os(as) interessados(as) sobre os tipos de dados que coletamos, os motivos da coleta e a forma como os usuários deste site podem gerenciar ou excluir suas informações pessoais.
          
          Os presentes termos foram elaborados em conformidade com a Lei Geral de Proteção de Dados pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) e o Regulamento da EU (n.2016/6790).
          
          1 - Quem deve utilizar este site
          
          
          Este site pode ser pode ser utilizado por adultos, adolescentes e crianças.
          
          2 – Dados que coletamos e motivos da coleta
          
          Nosso site coleta e utiliza alguns dados pessoais dos visitantes e usuários da seguinte forma:
          
              2.1) Dados pessoais fornecidos expressamente pelo usuário
          
          
          Coletamos os seguintes dados pessoais que os usuários nos fornecem ao utilizar nosso site:
          
          
          Endereço de e-mail; Números de Telefone; Mensagens de contato;
          
          A coleta destes dados ocorre nos seguintes momentos:
          
           Quando o usuário utiliza o formulário de contato
          
          
          Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades:  
          
          
          Para que nossos colaboradores possam entrar em contato via e-mail, telefone, chat e mensagens de texto.
          
          
             2.2) Dados pessoais comportamentais:
          
            Quando o usuário visita o nosso website, é inserido um ‘cookie’ em seu navegador por meio do software Google Analytics, para identificar quantas vezes visitou o nosso endereço eletrônico, quanto tempo permaneceu em nosso website, desde que cidade nos acessou e quais páginas leu e recomendou, entre outros.
          
          Coletamos os seguintes dados pessoais através de cookies e outras formas que os usuários geram e/ou nos fornecem ao utilizar nosso site:
           
          
          Endereço de e-mail; Números de Telefone; Mensagens de contato;
          
          
          
          A coleta destes dados ocorre nos seguintes momentos:
          
          
          
          Endereço de e-mail; Números de Telefone; Mensagens de contato;
          
          
          
          Os dados gerados e/ou fornecidos por nossos usuários são coletados com as seguintes finalidades:  
          
          Para garantir a segurança do website; - Para detectar comportamento fora do habitual e brechas de segurança; - Para rastrear de onde partem possíveis tentativas de invasão; - Para cumprir determinação legal de armazenamento de registros de acesso, conforme o disposto no art. 15 do Marco Civil da Internet; - Para gerar estatísticas de visitação e de interação com nosso site; - Para desenvolver novas funcionalidades em nosso website; - Para otimizar e aprimorar a navegação, usabilidade e layout do site; - Para compreender como os usuários utilizam nosso site e ajudar nas pesquisa de novas soluções, cursos, conteúdos, produtos e serviços; - Para realizar anúncios e comunicação direcionada aos gostos e interesses do usuários; - Para personalizar a experiência do usuário que visita nosso site; - Para todo e qualquer fim que o usuário nos autorizar no momento da recolha dos dados; - Para assegurar a autenticidade das transações feitas no site; - Para cumprir com nossas obrigações legais e regulatórias;
          
          2.3) Dados pessoais sensíveis: 
          
          Não coletamos dados sensíveis de nossos usuários, assim entendidos aqueles definidos nos arts. 11 e seguintes da Lei Geral da Proteção de Dados Pessoais.
          
          O site poderá coletar os seguintes dados sensíveis dos usuários:
          
          
          
          Os dados sensíveis fornecidos por nossos usuários podem ser coletados com as seguintes finalidades:
          
          
          
          A coleta e a utilização dos dados pessoais sensíveis serão feitas com o consentimento específico de seus titulares, exceto nos casos em que a Lei Geral de Proteção de Dados permitir o tratamento com fundamento em outras bases legais distintas do consentimento.
          
          Em qualquer caso, o tratamento dos dados sensíveis ocorrerá para atender a finalidades específicas expressas nesta política ou devidamente informada ao usuário por outros meios.
          
           2.4) Dados de crianças e adolescentes: 
          
          Este site não coleta dados de crianças e adolescentes.
          
          Coletamos os seguintes dados de crianças e adolescentes que os usuários nos fornecem ao utilizar nosso site:
          
          
          
          A coleta de dados de crianças e adolescentes ocorre nos seguintes momentos:
          
          
          
          Os dados fornecidos por nossos usuários menores de 18 anos são coletados com as seguintes finalidades:  
          
          
          
          
          2.5) Cookies:
          
          
               Cookies são pequenos arquivos de texto baixados automaticamente em seu dispositivo quando você acessa e navega por um site. Eles servem, para que seja possível identificar dispositivos, atividades e preferências de usuários.
          
          Os cookies não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do usuário. Não sendo possível que, por meio dos cookies, se tenha acesso a informações pessoais que não tenham partido do usuário ou da forma como utiliza os recursos e funcionalidades do site.
          
          A desativação dos cookies que podem ser desabilitados poderá prejudicar a experiência do usuário, uma vez que informações utilizadas para personalizá-la deixarão de ser utilizadas.
          
          a) Cookies do Site
          
          Os cookies do site são aqueles enviados ao computador ou dispositivo do usuário, exclusivamente pelo website. As informações coletadas por meio destes cookies são utilizadas para melhorar e personalizar a experiência do usuário, sendo que alguns cookies podem, por exemplo, ser utilizados para lembrar as preferências e escolhas do usuário, bem como para o oferecimento de conteúdo personalizado.
          
          b) Cookies de Terceiros
          
          
          Alguns de nossos parceiros podem configurar cookies nos dispositivos dos usuários que acessam nosso site. Estes cookies, em geral, visam possibilitar que nossos parceiros possam oferecer seu conteúdo e seus serviços ao usuário que acessa nosso site de forma personalizada, por meio da obtenção de dados de navegação extraídos a partir de sua interação com o site.
          
          
          O usuário poderá obter mais informações sobre os cookies de terceiros e sobre a forma como os dados obtidos a partir dele são tratados, além de ter acesso à descrição dos cookies utilizados e de suas características, acessando os seguintes links:
          
          
          Google Analytics: https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage;
          
          
          Pixel do Facebook:
          https://pt-br.facebook.com/business/help/471978536642445?id=1205376682832142
          
          
           c) Gestão de Cookies
          
          O usuário poderá se opor ao registro de cookies pelo site, bastando que desative esta opção no seu próprio navegador. Mais informação sobre como fazer isso emalguns dos principais navegadores utilizados hoje podem ser acessados a partir dos seguintes links:
          
          
          Internet Explorer:
          https://support.microsoft.com/pt-br/topic/excluir-e-gerenciar-cookies-168dab11-0753-043d-7c16-ede5947fc64d
          
          Safari:
          https://support.apple.com/pt-br/guide/safari/sfri11471/mac
          
          
          Google Chrome:
          https://support.google.com/chrome/answer/95647
          
          Mozila Firefox:
          https://support.mozilla.org/pt-BR/kb/cookies-informacoes-sites-armazenam-no-computador#w_configuracoes-de-cookies
          
          Opera:
          https://www.opera.com/pt/secure-private-browser
          
          O usuário também poderá se opor à utilização de cookies pelo próprio site, bastando que os desative no momento em que começar a utilizar o site pela primeira vez, clicando no aviso de cookies e depois desativando esta opção no seu navegador, para se assegurar de que o registro de cookies foi desativado.
          
          Assim que entrar no site pela primeira vez, o usuário terá a opção de bloquear ou de permitir a utilização de cookies, bastando que selecione a opção correspondente na caixa de diálogo (aviso de cookies) carregada automaticamente assim que nossa página é acessada.
          
          
          A desativação dos cookies, no entanto, pode afetar a disponibilidade de algumas ferramentas e funcionalidades do site, comprometendo seu correto e esperado funcionamento. Outra consequência possível é a remoção das preferências do usuário que eventualmente tiverem sido salvas, prejudicando sua experiência de navegação.
          
          A desativação de todos os cookies, no entanto, não será possível, uma vez que alguns deles são essenciais para que o site funcione corretamente.
          
          
          3 – Compartilhamento de Dados com Terceiros
          
          Os dados coletados através deste site podem ser compartilhados com as seguintes empresas, aplicações e/ou ferramentas:
          
          
          Exemplos: - Compartilhamos alguns dados com o Google e outras ferramentas de Analytics para realizar análises e gerar relatórios; - Autoridades judiciais, administrativas ou governamentais competentes, sempre que houver determinação legal, requerimento, requisição ou ordem judicial;
          
          Estes dados são compartilhados pelas seguintes razões e para as seguintes finalidades:
          
          Para todo e qualquer fim que o usuário nos autorize no momento da coleta dos dados;
          
          
          Além das situações aqui informadas, é possível que compartilhemos dados com terceiros para cumprir alguma determinação legal, técnica ou regulatória. No caso de Informações a serem compartilhadas em cumprimento de solicitação de autoridade pública, a mesma sempre será efetuada mediante ordem judicial, conforme definido em Lei.
          
          
          Em qualquer caso, o compartilhamento de dados pessoais observará todas as leis e regras aplicáveis, buscando sempre garantir a segurança dos dados de nossos usuários, observados os padrões técnicos e boas práticas de segurança da informação.
          
          Ao continuar utilizando este site você nos autoriza a compartilhar seus dados.
          
          Este website poderá operar em conjunto de outras empresas numa ampla gama de atividades em conjunto com anunciantes, patrocinadores, fornecedores e parceiros comerciais, online e offline, além das ferramentas de divulgação, publicidade e análises de desempenho.
          
          
          Nos reservamos ao direito de compartilhar as suas informações, incluindo os dados de localização, cadastro e de interesses, com nossos parceiros, anunciantes, fornecedores e provedores de serviços, sempre que for possível, de forma anônima, visando preservar a sua privacidade. Por meio deste documento, você autoriza-nos expressamente tais compartilhamentos.
          
          
          Este site permite que outras empresas e redes de anúncio façam publicidade na nossa plataforma por meio de diferentes tecnologias. Portanto, poderá eventualmente receber diretamente anúncios, conteúdo e links exibidos de forma personalizada, de acordo com os seus interesses e comportamentos na nossa plataforma, redes sociais online ou em outros serviços com os quais interage. Para tanto, os dados podem ser compartilhados entre nós e essas outras empresas, principalmente identificadores únicos, endereços IP, cookies e scripts java, que podem ser utilizados para medir a eficiência da publicidade online. Por meio deste documento, autoriza-nos expressamente a realizar o compartilhamento de seus dados.
          
          
          Não nos responsabilizamos pelos atos, anúncios e conteúdo gerados por nossos parceiros comerciais e redes de anúncio, e esta Política não é aplicada aos mesmos, uma vez que nós não as controlamos.
          
          
          Todos os seus dados, informações e conteúdos podem ser considerados ativos no caso das negociações em que fizermos parte. Portanto, reservamo-nos o direito de incluir os seus dados dentre os ativos da empresa caso esta venha a ser vendida, adquirida ou fundida com outra. Por meio desta Política você concorda e está ciente desta possibilidade.
          
          4 – Por quanto tempo seus dados pessoais são armazenados
          
          Os dados pessoais coletados através do site são armazenados e utilizados pelo período de tempo que for necessário para atingir as finalidades elencadas neste documento e que considere os direitos de seus titulares, os direitos do controlador do site e as disposições legais ou regulatórias aplicáveis.
          
          O tempo mínimo de armazenamento é de 6 meses para dados comportamentais, segundo o Art. 15 do Marco Civil da Internet e de 5 anos após o término da relação com o usuário para dados cadastrais, segundo o Art. 27 do Código de Defesa do Consumidor.
          
          
          
          Uma vez expirados os períodos de armazenamento dos dados pessoais, eles podem vir a ser removidos de nossas bases de dados ou anonimizados, salvo nos casos em que houver a possibilidade e/ou a necessidade de armazenamento em virtude de disposição legal ou regulatória.
          
          
          
          Caso haja solicitação do Usuário, os dados poderão ser apagados antes desse prazo. No entanto, pode ocorrer de os dados precisarem ser mantidos por período superior, por motivo de lei, ordem judicial, prevenção à fraude (art. 11, II, “a” da Lei Geral de Proteção de Dados “LGPD”, Lei nº 13.709/2018), proteção ao crédito (art. 7º, X, LGPD) e outros interesses legítimos, em conformidade com o artigo 10 da LGPD. Findo o prazo e a necessidade legal, serão excluídos com uso de métodos de descarte seguro, ou utilizados de forma anonimizada para fins estatísticos.
          
          
          
          Ressaltamos que os dados poderão continuar armazenados se houver alguma justificativa legal ou regulatória, ainda que tenha se exaurido a finalidade para a qual os dados tenham sido coletados e/ou tratados.
          
          
          
          Os dados são armazenados de forma contínua enquanto o usuário tiver uma conta ativa em nosso site e/ou continuar utilizando, navegando, interagindo, comunicando-se e mantendo algum tipo de relação ou contato conosco. Uma vez finalizado o tratamento e/ou a relação com o usuário, observadas as disposições desta seção, os dados são apagados ou anonimizados.
          
          
          
          5 – Bases legais para o tratamento de dados pessoais
          
          Nós tratamos os dados pessoais de nossos usuários mediante os seguintes fundamentos legais, que justificam o tratamento de dados:
          
          5.1 - Dados pessoais não sensíveis
          
          
          
          - mediante o consentimento do titular dos dados pessoais; - para o cumprimento de obrigação legal ou regulatória pelo controlador; - para o exercício regular de direitos em processo judicial, administrativo ou arbitral; - para execução de contrato ou de procedimentos preliminares relacionados a contrato do qual seja parte o titular, a pedido do titular dos dados pessoais; - para proteção do crédito - quando necessário para atender aos interesses legítimos do controlador ou de terceiro; - Para proteção da vida ou integridade física de titular ou terceiro;
          
          
           5.2 - Dados de crianças e adolescentes
          
          
          
          
          5.3 - Consentimento do Titular
          
          
          Ao utilizar este site, solicitar serviços e/ou fornecer informações pessoais o usuário está consentindo com a presente política de privacidade.
          
          -Determinadas operações de tratamento de dados pessoais realizadas em nosso site dependerão da prévia concordância do usuário, que deverá manifestá-la de forma livre, informada e inequívoca.
          
          O usuário, ao visitar este site, entrar em contato, ao cadastrar-se e/ou ao realizar qualquer tipo de interação conosco, manifesta conhecer a presente política e pode exercer seus direitos de cancelar seu cadastro, atualizar seus dados pessoais e garante a veracidade das informações por ele disponibilizadas.
          
          
          O usuário poderá revogar seu consentimento a qualquer momento e solicitar a exclusão de seus dados, sendo que, não havendo hipótese legal que permita ou que demande o armazenamento de dados, os dados fornecidos mediante consentimento serão excluídos.
          
          
          
          5.4 - Cumprimento de obrigação legal ou regulatória pelo controlador
          
          
          
          Algumas operações de tratamento de dados pessoais, sobretudo o armazenamento de dados, serão realizadas para que possamos cumprir obrigações previstas em lei ou em outras disposições normativas aplicáveis às nossas atividades.
          
          
          
          5.5 - Execução de contrato
          
          Para a execução de contrato compra e venda ou de prestação de serviços, eventualmente firmado entre o site o usuário, poderão ser coletados e armazenados outros dados relacionados e/ou necessários a sua execução, incluindo o teor de eventuais comunicações tidas com o usuário.
          
          
          6 - Direitos do Usuário
          
          O usuário do site possui os seguintes direitos, conferidos pela Lei Geral de Proteção de Dados Pessoais:
          
          
          
          Confirmação da existência de tratamento;
          Acesso aos dados;
          
           Correção de dados incompletos, inexatos ou desatualizados;
          
          Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na lei; - Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;
          Eliminação dos dados pessoais tratados com o consentimento do titular, exceto nos casos previstos em lei;
          Informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;
          informação sobre a possibilidade de não fornecer consentimento e sobre as consequencias da negativa;
          revogação do consentimento.
          
          
          
          É importante destacar que, nos termos da LGPD, não existe um direito de eliminação de dados tratados com fundamento em bases legais distintas do consentimento, a menos que os dados sejam desnecessários, excessivos ou tratados em desconformidade com o previsto na lei.
          
          
          
          6.1 - Como o titular pode exercer seus direitos     
          
          
          
          Os titulares de dados pessoais tratados por nós poderão exercer seus direitos por meio do formulário disponibilizado no seguinte caminho:
          
          
          
          www.mensageiroanonimo.com.br/contato
          
          Alternativamente, se desejar, o titular poderá enviar um e-mail para o seguinte endereço:
          
          
          Os titulares de dados pessoais tratados por nós poderão exercer seus direitos a partir do envio de mensagem para nosso Encarregado de Proteção de Dados Pessoais seja por e-mail, formulário ou correspondência. As informações necessárias estão na seção "Como entrar em contato conosco" desta Política de Privacidade.
          
          
          Para garantir que o usuário que pretende exercer seus direitos é, de fato, o titular dos dados pessoais objeto da requisição, poderemos solicitar documentos ou outras informações que possam auxiliar em sua correta identificação, a fim de resguardar nossos direitos e os direitos de terceiros. Isto somente será feito, porém, se for absolutamente necessário, e o requerente receberá todas as informações relacionadas.
          
          
          7 - Medidas de segurança no tratamento de dados pessoais
          
          
          Empregamos medidas técnicas e administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, extravio ou alteração desses dados.
          
          
          As medidas que utilizamos levam em consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual violação geraria para os direitos e liberdades do usuário, as normas de segurança internacionais como a ISO 27001 e os padrões empregados atualmente por empresas semelhantes à nossa.
          
          
          
          Entre as medidas de segurança adotadas por nós, destacamos as seguintes:
          
          
          
          Ainda que façamos tudo que estiver ao nosso alcance para evitar incidentes de segurança, é possível que ocorra algum problema motivado exclusivamente por um terceiro, como em caso de ataques de hackers ou crackers ou, ainda, em casos de responsabilidade exclusiva do usuário, que ocorre, por exemplo, quando ele mesmo transfere seus dados a um terceiro. Assim, embora sejamos, em geral, responsáveis pelos dados pessoais que tratamos, nos eximimos de responsabilidade caso ocorra uma situação excepcional como essas, sobre as quais não temos nenhum tipo de controle.
          
          
          De qualquer forma, caso ocorra qualquer tipo de incidente de segurança que possa gerar risco ou dano relevante para qualquer de nossos usuários, comunicaremos os afetados e a Autoridade Nacional de Proteção de Dados acerca do ocorrido, em conformidade com o disposto na Lei.
          
           
          
          8 – Acesso ao Site
          
          
          O usuário se declara ciente de que seu login e senha são de uso pessoal e intransferível e que deverá mantê-lo sob sigilo e em ambiente seguro. Ao acessar em nosso site/aplicativo o usuário não deve utilizar como próprio o login e senha alheia ou ceder a outrem, para que dele se utilize.
          
          9 - Alterações nesta política
          
          
          A presente versão desta Política de Privacidade foi atualizada pela última vez em: 2021-03-25
          
          
          
          Nos reservamos o direito de modificar a política de privacidade a qualquer momento, especialmente para adaptá-las às alterações feitas em nosso site, seja pela disponibilização de novas funcionalidades, seja pelo cancelamento ou modificação daquelas já existentes.
          
          
          Sempre que houver uma modificação, nossos usuários serão notificados sobre a mudança.
          
          
          10 - Como entrar em contato conosco
          
          
          Para esclarecer quaisquer dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos,
          
          entre em contato com nosso Encarregado de Proteção de Dados Pessoais, por algum dos canais abaixo:

          
          11 – Jurisdição para Resolução de Conflitos
          
          Este documento é regido e deve ser interpretado de acordo com as leis da República Federativa do Brasil. Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa. Fica eleito o Foro da Comarca de São Paulo/SP, como o competente para dirimir quaisquer questões porventura oriundas do presente documento, com expressa renúncia a qualquer outro, por mais privilegiado que seja.
          
          </p>
        <p class="card-footer">Última atualização: 25 de Março de 2021</p>
      </div>
    </div>




  </main>


  
  <!--Footer-->
  <footer class="mt-auto text-white-50">
    <p>Mensageiro Anônimo © 2021</p>
  </footer>
  <!--Footer-->




</div>
</body>
</html>

<link href="css/estilo.css" rel="stylesheet">
<!--Bootstrap-->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
