<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/img/FAVICON.ico" />
    <title>Mensageiro Anônimo</title>
    <!-- Bootstrap core CSS -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark"></body>
<script data-ad-client="ca-pub-3007991106317440" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0" >Mensageiro Anônimo</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/formulario">Enviar</a>
        <a class="nav-link" href="/contato">Contato</a>
      </nav>
    </div>
  </header>



  
    <div class="card text-white bg-dark mb-3" style="max-width: 280rem;">
      <div class="card-header">Leia com atenção!</div>
      <div class="card-body">
        <h5 class="card-title">Política de Privacidade</h5>
        <p class="text" style = "text-align: initial">
        <br />
         • Guardamos todas as mensagens no nosso banco de dados. <br /><br />
         • Mensagens de ódio e cyberbullying não será enviado! <br /><br />
         • Números bloqueados pelo receptor não será mais possível receber mensagens. <br /><br />
         • No final de todas as mensagens sempre irão uma frase dizendo "Mensagem Enviada Pelo Site: www.mensageiroanonimo.com.br" <br /><br />
         • Quer saber se recebeu alguma resposta? Entre em contado -> mensageiroanonimo@sapo.pt<br /><br />
         <br />
          </p>
        <p class="card-footer">Última atualização: 25 de Março de 2021</p>
      </div>
    </div>




  </main>


  
  <!--Footer-->
  <footer class="mt-auto text-white-50">
    <p>Mensageiro Anônimo © 2021</p>
  </footer>
  <!--Footer-->




</div>
</body>
</html>

<link href="css/estilo.css" rel="stylesheet">
<!--Bootstrap-->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
